@font-face{font-family: "opensans";src: url(font-folder/opensans/OpenSans-Bold.ttf);}

#opensans{font-family: "opensans";}



@font-face{font-family: "belleza";src: url(font-folder/belleza.ttf);}

#belleza{font-family: "belleza";}



@font-face{font-family: "titilliumBold";src: url(font-folder/titillium/TitilliumWeb-Bold.ttf);}

#titilliumBold{font-family: "titilliumBold";}



@font-face{font-family: "titillium";src: url(font-folder/titillium/TitilliumWeb-Regular.ttf);}

#titillium{font-family: "titillium";}






